html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  margin-top: 0;
  transition: margin-top 0.4s ease;
}

.App.offset {
  margin-top: -64px;
}

.search-box {
  text-align: center;
  padding: 8px;
}

.search-button {
  width: 48px;
  display: inline-block;
  transform: translateY(-4px);
}

.result {
  padding: 8px;
}

.result div {
  margin: 8px;
}

.top-container {
  margin-top: 64px;
  position: relative;
}

.progress-bar {
  position: absolute;
  top: 0;
  width: 100%;
}

.circular-progress {
  padding-top: 24px;
  text-align: center;
}

.radio-container {
  padding: 16px;
}

.radio-container > div {
  margin-top: 24px;
}

.copyright {
  position: absolute;
  bottom: 0;
  left: 16px;
}

.global-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1100;
  top: 0;
  right: 0;
}

@media (min-width: 768px) and (orientation: landscape) {
  .result {
      width: 50%;
      margin: 0 auto;
  }
}
